<header class="fixed-top">

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal font">
      <img src="./assets/img/InterKill3.png" class="img "> InterKill</h5>

    <nav>
      <a class="p-2 text-dark" href="/plans">Plans</a>
      <a class="p-2 text-dark" href="#">Enterprise</a>
      <a class="p-2 text-dark" href="#">Help</a>
      <a class="p-2 text-dark" href="#">Pricing</a>
    </nav>
      <a class="btn btn-outline-success" href="/signup">Sign Up</a>
      <a class="btn btn-outline-success ml-1" href="/signin">Sign In</a>
  </div>

</header>
