<header class="fixed-top">

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal font">
      <img src="./assets/img/InterKill3.png" class="img "> InterKill</h5>

    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">Planos</a>
      <a class="p-2 text-dark" href="#">Empresa</a>
      <a class="p-2 text-dark" href="#">Ajuda</a>
      <a class="p-2 text-dark" href="#">Preços</a>
    </nav>
      <a class="btn btn-outline-success" href="/signup">Inscrever-se</a>
      <a class="btn btn-outline-success ml-1" href="/signin">Entrar</a>
  </div>

</header>
