<footer class="pt-4 my-md-5 pt-md-5 border-top">

  <div class="row">
      <aside class="col-12 col-md m-5">
        <small class="d-block mb-3 text-muted">© 2021-2021</small>
      </aside>
    <aside class="col-6 col-md">
      <h5 class="text-success">Recursos</h5>
      <ul class="list-unstyled text-small">
        <li><a class="p-2 text-dark" href="#">Recursos do Cliente</a></li>
        <li><a class="p-2 text-dark" href="#">Fale Conosco</a></li>
        <li><a class="p-2 text-dark" href="#">Contratos e Regulamentos</a></li>
        <li><a class="p-2 text-dark" href="#">Ouvidoria</a></li>
      </ul>
    </aside>
    <aside class="col-6 col-md">
      <h5 class="text-success">Interkill</h5>
      <ul class="list-unstyled text-small">
        <li><a class="p-2 text-dark" href="#">Empresa</a></li>
        <li><a class="p-2 text-dark" href="#">Encontre uma Loja</a></li>
        <li><a class="p-2 text-dark" href="#">Conselho aos Usuários</a></li>
        <li><a class="p-2 text-dark" href="#">Código de Defesa ao Consumidor</a></li>
      </ul>
    </aside>
  </div>

</footer>
