<body>

  <article class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

    <h1 class="display-4 mt-5 text-success" style="vertical-align: inherit;">Sobre</h1>
    <p class="lead">A InterKill é a marca comercial da Rede Brasil.<br>
       É uma concessionária de telefonia fixa, telefonia móvel,<br>
       internet banda larga e TV por assinatura do Brasil.</p>

  </article>

  <div class="container">

    <div class="card-deck mb-3 text-center">

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h1 class="my-0 font-weight-normal text-success">Normal</h1>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$ 40
            <small class="text-muted">/ mês</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 GB de internet</li>
            <li>Plano de celular</li>
            <li>Suporte por email ou telefone</li>
            <li>Acesso ao centro de ajuda</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-success">Contratar</button>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h1 class="my-0 font-weight-normal text-success">Médio</h1>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$ 80
            <small class="text-muted">/ mês</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>100 GB de internet</li>
            <li>Plano de celular</li>
            <li>Suporte por email ou telefone</li>
            <li>Acesso ao centro de ajuda</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-success">Contratar</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h1 class="my-0 font-weight-normal text-success">Top</h1>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$ 150
            <small class="text-muted">/ mês</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>300 GB de internet</li>
            <li>Plano de celular</li>
            <li>Suporte por email ou telefone</li>
            <li>Acesso ao centro de ajuda</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-success">Contratar</button>
        </div>
      </div>

    </div>

  </div>

</body>
