<body>

  <article class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

    <h1 class="display-4 mt-5 text-success" style="vertical-align: inherit;">Over</h1>
    <p class="lead">InterKill is the trademark of Rede Brasil.<br>
      It is a concessionaire of fixed telephony, mobile telephony,<br>
      broadband internet and pay TV in Brazil.</p>

  </article>

  <div class="container">

    <div class="card-deck mb-3 text-center">

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h1 class="my-0 font-weight-normal text-success">Normal</h1>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$ 10
            <small class="text-muted">/ month</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 GB of internet</li>
            <li>Cell phone plan</li>
            <li>Email or phone support</li>
            <li>Access to the help center</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-success">To hire</button>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h1 class="my-0 font-weight-normal text-success">Average</h1>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$ 40
            <small class="text-muted">/ month</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>100 GB of internet</li>
            <li>Cell phone plan</li>
            <li>Email or phone support</li>
            <li>Access to the help center</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-success">To hire</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h1 class="my-0 font-weight-normal text-success">Top</h1>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$ 90
            <small class="text-muted">/ month</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>300 GB of internet</li>
            <li>Cell phone plan</li>
            <li>Email or phone support</li>
            <li>Access to the help center</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-success">To hire</button>
        </div>
      </div>

    </div>

    <section class="w-25 row align-items">

      <div class="col-12">

        <a class="text-decoration-none" href="/plans"><button type="button"
          class="btn btn-lg btn-block btn-outline-success text-center">
          More Plans
        </button></a>

      </div>

    </section>
  </div>

</body>
